[submodule "dependencies/limine/limine"]
	path = dependencies/limine/limine
	url = git@github.com:limine-bootloader/limine.git
	branch = v9.x-binary
	shallow = true
[submodule "dependencies/ovmf-binaries/edk2-nightly"]
	path = dependencies/ovmf-binaries/edk2-nightly
	url = git@github.com:retrage/edk2-nightly.git
	shallow = true
[submodule "dependencies/freestnd-libs/freestnd-libs"]
	path = dependencies/freestnd-libs/freestnd-libs
	url = git@github.com:My-Bad-2/freestnd-libs.git
	shallow = true
