[submodule "dependencies/limine/limine"]
	path = dependencies/limine/limine
	url = https://codeberg.org/Limine/Limine.git
	branch = v10.x-binary
	shallow = true
[submodule "dependencies/ovmf-binaries/edk2-nightly"]
	path = dependencies/ovmf-binaries/edk2-nightly
	url = git@github.com:retrage/edk2-nightly.git
	shallow = true
[submodule "dependencies/freestnd-libs/freestnd-libs"]
	path = dependencies/freestnd-libs/freestnd-libs
	url = git@github.com:My-Bad-2/freestnd-libs.git
	shallow = true
[submodule "dependencies/printf/printf"]
	path = dependencies/printf/printf
	url = https://github.com/eyalroz/printf.git
	shallow = true
